.buttons {
    width: 100%;
    text-align: center;
}

.btnform {
    width: 40%;
}

.btnCamera {
    right: 20px;
    position: absolute;
}

.divImg {
    padding-left: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.prevImg{
    width: 100%;
    padding: 12px;
}