.buttons {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.btnform {
    width: 40%;
}

.btnCamera {
    right: 20px;
    position: absolute;
}

.divImg {
    padding-left: 15px;
    width: 100%;
    margin-bottom: 20px;
}

.prevImg{
    width: 100%;
    padding-top: 12px;
}
ion-icon[name='pin'],ion-note.note.note-md{
    color: #00b034;
}

#prevImg{
    width: 96%;
}

.map-style {
    height: 200px;
}   