.buttons {
    width: 100%;
    text-align: center;
}

.btnform {
    width: 40%;
}

.btnCamera{
    right: 20px;
    position: absolute;
}

.divImg{
    width:100%;
    margin-bottom: 20px;
}

.lblImg{
    padding-left: 15px;
}