<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    </ion-navbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row class="container-slider">
            <ion-col col-12>
                <ion-slides pager>
                    <ion-slide>
                        <img src="https://lh3.googleusercontent.com/nikH6cBQc6Gw0p1fzm6FLPB0rly3eK_qU2MyP7C_YASH4JgGuRXJlosfcoq6wXpED1TMs01JpcA2A8gbs1To0lep_sPByD6u8BXq_iZYpekaCGpgvS5LkBbEoKVWWTOFu0YO-OhCD5SAlK-nKH38j6coag5dCeV7SYtrhBCAXte1fyeFQeCUzI-CHcEei8_tjaclRNETngdr51oH9L-cwZgCOdPbt_QqhQefhBu1kDFTJue31pUzDiYgutJq1uxygzZw3-Qew-Ac34Zwkm4b8ner2-SbnYIb2D38JDHQIbugUYldaNidAKhvVYPfqZm-erVcxglIm_33eh5BQ5dRxSeKgNVn7Rgl74t3bltKl2-eVNPg4lVYzynkhGA0PFXp5NeL0qoE5f6vRJ9-_lZAeXqkoZEtGrybBtZlyd5QAPqvP8f0ByunlOUecDwwSVSjbznq8Qrr9dweeU3oihz94bYgXUdLt1Kv-Gj8vH4po-bYhloQknWaKpUecIJm4c3TokNXdq1IwBQ97MYKKV1VWIbLa3Hu6HfDhCHtAA7uwUA_8aOy-qPCRgs6tnLDZhfsSfNDMgh9MkxD1XVGvo-1vmOLlOu19wXLtxFZBOytBdeuR2DJ=s662-no" alt="">
                    </ion-slide>

                    <ion-slide>
                        <p>En cualquier momento, podrás consultar los eventos que puedan ser de tu interes.</p>
                    </ion-slide>

                    <ion-slide>
                        <p>Agenda eventos a los que deseas asistir.</p>
                    </ion-slide>
                </ion-slides>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="auth.token">
            <button class="button-face" ion-button (click)="showEventsPage()">
                        <ion-icon name=""></ion-icon> <p> Ver eventos</p>
                    </button>
        </ion-row>
        <ion-row *ngIf="!auth.token">
            <ion-col col-12>
                <p>Al registrarse, acepta nuestras <b>políticas de privacidad</b></p>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!auth.token">
            <ion-col col-6>
                <button class="button-face" ion-button (click)="createAccountFace()">
                            <ion-icon name="logo-facebook"></ion-icon><p>&nbsp;Facebook</p>
                        </button>
            </ion-col>
            <ion-col col-6>
                <button ion-button class="button-google" (click)="createAccountGoogle()">
                            <ion-icon name="logo-google"></ion-icon><p>&nbsp;Google</p>
                        </button>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!auth.token">
            <ion-col col-12>
                <div class="form-login">
                    <ion-item>
                        <ion-label floating>Correo electronico</ion-label>
                        <ion-input type="email" [(ngModel)]="email"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Contraseña</ion-label>
                        <ion-input type="password" [(ngModel)]="password"></ion-input>
                    </ion-item>
                    <button class="button-sigIn" ion-button (click)="login()">
                            <ion-icon name="person"></ion-icon>
                            &nbsp; Iniciar sesión
                        </button>
                    <div class="register">
                        <a (click)="presentModal()">Registrarse</a>
                    </div>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>