<ion-menu [content]="content">
    <ion-header>
        <ion-grid>
            <ion-row class="container-slider" style="background-color: #f8f8f8;">
                <ion-col col-10>
                    <ion-toolbar>
                        <ion-title menuClose>Menú</ion-title>
                    </ion-toolbar>
                </ion-col>
                <ion-col col-2 *ngIf="auth.token">
                    <img src="https://image.freepik.com/iconos-gratis/perfil-silueta-usuario_318-40557.jpg" alt="">
                </ion-col>
            </ion-row>
        </ion-grid>        
    </ion-header>

    <ion-content>
        <div *ngFor="let p of invitedPages" (click)="openPage(p)">
            <button menuClose ion-item><ion-icon name="{{p.icon}}"></ion-icon> 
                  {{p.title}}
                </button>
        </div>

        <div *ngFor="let p of pages" (click)="openPage(p)">
            <button menuClose ion-item *ngIf="!!auth.token"><ion-icon name="{{p.icon}}"></ion-icon> 
                  {{p.title}}
                </button>
        </div>        

        <button menuClose ion-item (click)="logOut()" *ngIf="!!auth.token">
              Cerrar sesión
            </button>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>